    <div id="page-content">
        <div class="jumbotron text-white">
        <h1 class="display-4">Vegan Stampede</h1>
        <p class="lead">All things vegan</p>
        <hr class="my-4">
        <p>Find recipes, product reviews, and other news.</p>
        
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
        </div>
    </div>

    
